@charset "utf-8";
* {
	margin: 0;
	padding: 0;
}

body {
	height: 100%;
	color: #a4a4a4;
	cursor: default;
	font-size: 11px;
	line-height: 16px;
	text-align: center;
	background-color: #404040;
	background-position: 50% 0;
	background-repeat: no-repeat;
	font-family: Tahoma, sans-serif;
}

a:link,
a:visited {
	color: #fff;
	text-decoration: none;
}

a img {
	border: 0;
}


/* slide-holder */

div#slide-holder {
	width: 484px;
	height: 282px;
	margin: 0 auto;
	position: relative;
	float: left;
}

div#slide-holder div#slide-runner {
	left: 9px;
	width: 478px;
	height: 282px;
	overflow: hidden;
	position: absolute;
}

div#slide-holder img {
	margin: 0;
	display: none;
	position: absolute;
	width: 478px;
}

div#slide-holder div#slide-controls {
	left: 0;
	bottom: 0px;
	width: 478px;
	height: 30px;
	display: none;
	position: absolute;
	background: url(../images/slide-bg.png) 0 0;
}

div#slide-holder div#slide-controls p.text {
	float: left;
	color: #fff;
	display: inline;
	font-size: 13px;
	line-height: 16px;
	margin: 7px 0 0 10px;
	text-transform: uppercase;
}

div#slide-holder div#slide-controls p#slide-nav {
	float: right;
	height: 20px;
	display: inline;
	margin: 4px 15px 0 0;
}

div#slide-holder div#slide-controls p#slide-nav a {
	float: left;
	width: 20px;
	height: 20px;
	display: inline;
	font-size: 12px;
	margin: 0 5px 0 0;
	line-height: 20px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	background-position: 0 0;
	background-repeat: no-repeat;
	color:#fff;
}

div#slide-holder div#slide-controls p#slide-nav a.on {
	background-position: 0 -20px;
}

div#slide-holder div#slide-controls p#slide-nav a {
	background-image: url(../images/silde-nav.png);
}