@charset "UTF-8";
html {
  color: #000;
  background: #fff;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

html * {
  -webkit-overflow-scrolling: touch;
  outline: 0;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

/*主要用来设置在IOS浏览器的容器内滚动是否开启惯性和回弹的*/
body {
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch; }

/*基础样式设置*/
a, abbr, acronym, address, applet, article, aside, audio,
b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt,
em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html,
i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby,
s, samp, section, small, span, strike, strong, sub, summary, sup,
table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video, input, select, textarea {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  border: none; }

/*h5*/
article, aside, details, figcaption, figure, footer, header,
hgroup, main, menu, nav, section, summary {
  display: block; }

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline; }

ul, ol, li {
  list-style: none; }

img {
  max-width: 100%;
  border: none;
  vertical-align: middle; }

table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  empty-cell: show; }

/*ie10×号*/
input:-ms-clear {
  display: none; }

input::-moz-focus-inner {
  padding: 0;
  border: 0; }

input[type="number"] {
  -moz-appearance: textfield; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; }

input[type="search"] {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-appearance: textfield; }

input[type="search"]::-webkit-search-cancel-button {
  display: none; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

.clearfix:before, .clearfix:after {
  content: '';
  display: table;
  font-size: 0;
  line-height: 0;
  webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

input[type=search]::-ms-clear {
  display: none; }

::-ms-clear, ::-ms-reveal {
  display: none; }

.clearfix:after {
  clear: both; }

.nowrap {
  word-break: keep-all;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

input, select {
  font-family: 'Microsoft Yahei'; }

a {
  text-decoration: none; }

/*--横屏--*/

.Ef {
  font-family: Arial; }

/*@extend*/
/*除去ie表单默认样式*/
/*去除浮动*/
.ywt-rows:before, .ywt-rows-cell:before, .form-block-wrap:before, .ywt-tab:before, .table-foot:before, .ywt-nav:before, .ywt-nav .ywt-nav-list:before, .ywt-nav .ywt-nav-list li a:before, .nav-path:before, .search-container:before, .search-container > .btn-box:before, .content-box .content-head:before, .section .section-head:before, .section .section-body:before, .ywt-pro:before, .ywt-rows:after, .ywt-rows-cell:after, .form-block-wrap:after, .ywt-tab:after, .table-foot:after, .ywt-nav:after, .ywt-nav .ywt-nav-list:after, .ywt-nav .ywt-nav-list li a:after, .nav-path:after, .search-container:after, .search-container > .btn-box:after, .content-box .content-head:after, .section .section-head:after, .section .section-body:after, .ywt-pro:after {
  content: '';
  display: table;
  font-size: 0;
  line-height: 0; }
.ywt-rows:after, .ywt-rows-cell:after, .form-block-wrap:after, .ywt-tab:after, .table-foot:after, .ywt-nav:after, .ywt-nav .ywt-nav-list:after, .ywt-nav .ywt-nav-list li a:after, .nav-path:after, .search-container:after, .search-container > .btn-box:after, .content-box .content-head:after, .section .section-head:after, .section .section-body:after, .ywt-pro:after {
  clear: both; }

/*不换行，超出显示省略号*/
/*绝对定位 占满父类*/
/*垂直对齐 vertical-align*/
/*块，行内元素*/
/*@include*/
/*
 * 滚动条
 */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: transparent; }

::-webkit-scrollbar-thumb {
  background-color: #eaedf1;
  border-radius: 16px;
  cursor: pointer; }

::-webkit-scrollbar-track {
  background-color: transparent; }

::-webkit-scrollbar-button {
  height: 8px;
  width: 8px;
  background-color: transparent; }

::-webkit-scrollbar-track-piece {
  background-color: transparent; }

.ywt-container {
  width: 100%;
  min-width: 1360px; }

.ywt-rows {
  margin: 0 -15px; }
  .ywt-rows .ywt-col {
    padding: 0 15px; }

.ywt-col {
  float: left; }
  .ywt-col.ywt-col-3 {
    width: 25%; }
  .ywt-col.ywt-col-4 {
    width: 33.333%; }
  .ywt-col.ywt-col-6 {
    width: 50%; }
  .ywt-col.ywt-col-12 {
    width: 100%; }

@media (min-width: 1600px) {
  .ywt-col.ywt-col-z-3-5 {
    width: 35%; }
  .ywt-col.ywt-col-z-90 {
    width: 90%; }
  .ywt-col.ywt-col-z-3 {
    width: 30%; } }


  .btn + .btn {
    margin-left: 15px; }
  

select::-ms-expand {
  display: none; }

.form-input {
  padding: 5px;
  height: 34px;
  line-height: 24px;
  min-width: 100px;
  max-width: 250px;
  border: 1px solid #dddee1;
  overflow: hidden;
  font-family: Cf;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }
  .form-input:active, .form-input:focus {
    border-color: #348eed;
    -webkit-box-shadow: 0 0 5px rgba(52, 142, 237, 0.3);
    box-shadow: 0 0 5px rgba(52, 142, 237, 0.3); }
  .form-input.error, .form-input.error:active, .form-input.error:focus {
    border-color: #dd0000;
    -webkit-box-shadow: 0 0 5px rgba(221, 0, 0, 0.3);
    box-shadow: 0 0 5px rgba(221, 0, 0, 0.3); }
  .form-input, .select-box.select-box-ms .form-input, .date-box.date-box-ms .form-input {
    padding: 4px 10px;
    height: 32px;
    font-size: 14px; }

textarea.form-input {
  height: auto;
  min-height: 120px; }

.form-input-radius, .select-box.select-box-radius .form-input, .date-box.date-box-radius .form-input {
  border-radius: 6px; }

.form-input-radius-lg {
  border-radius: 20px; }

.input-block, .select-box.select-box-block .form-input, .date-box.date-box-block .form-input {
  display: block;
  width: 100%;
  max-width: 100%; }

select.form-input {
  padding: 0 10px; }

.select-box {
  position: relative; }
  .select-box:before, .select-box:after {
    content: "";
    position: absolute;
    background: #fff; }
  .select-box:before, .select-box:after {
    width: 24px;
    top: 1px;
    right: 1px;
    height: 42px;
    background: #fff; }
  .select-box:after {
    width: 18px;
    height: 10px;
    top: 50%;
    right: 8px;
    margin-top: -5px;
    background: #fff url("../img/allow.png") no-repeat 0 -18px; }
  .select-box.select-box-ms:before {
    height: 30px; }
  .select-box.select-box-block {
    width: 100%; }
  .select-box.select-box-radius:before {
    border-radius: 0 6px 6px 0; }

.date-box {
  position: relative; }
  .date-box .glyphicon-calendar {
    position: absolute;
    left: 20px;
    font-size: 18px;
    line-height: 42px; }
  .date-box .form-input {
    padding-left: 40px;
    width: 220px;
    min-width: auto;
    font-size: 16px; }
  .date-box.date-box-ms .glyphicon-calendar {
    font-size: 16px;
    line-height: 32px; }
  .date-box.date-box-ms .form-input {
    padding-left: 45px; }
  .date-box.date-box-block {
    width: 100%; }

.form-block {
  display: inline-block;
  margin-right: 20px; }

.form-block-v .form-label {
  display: block; }
.form-block-v .form-box {
  position: relative; }
  .form-block-v .form-box .form-input {
    display: block;
    width: 100%; }

.form-block-wrap .form-block {
  float: left;
  margin-right: 0; }
  .form-block-wrap .form-block + .form-block {
    margin-left: 20px; }
    .form-block-wrap .form-block + .form-block .form-box {
      position: relative; }
      .form-block-wrap .form-block + .form-block .form-box::before {
        content: "";
        position: absolute;
        width: 10px;
        height: 1px;
        background: #444444;
        top: 50%;
        left: 0;
        margin-left: -15px;
        z-index: 10; }

.ywt-tab {
  margin: 0 -10px;
  padding: 0 90px;
  border-bottom: 2px solid #eaedf1; }
  .ywt-tab .tab-item {
    float: left;
    display: block;
    position: relative;
    margin: 0 10px;
    padding: 10px 10px;
    line-height: 20px;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer; }
    .ywt-tab .tab-item:after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -2px;
      height: 4px;
      width: 100%;
      background: transparent; }
    .ywt-tab .tab-item.active {
      color: #348eed; }
      .ywt-tab .tab-item.active:after {
        background: #348eed; }
    .ywt-tab .tab-item:hover {
      color: #348eed; }
  .ywt-tab.ywt-tab-default {
    padding: 0 25px; }

.ywt-tab-content > div {
  display: none; }
  .ywt-tab-content > div.active {
    display: block; }
.table-list {
  margin-top: 0px;
}
.table-list td,
.table-list th {
  text-align: center;
  font-weight: normal;
  padding: 14px 10px;
  line-height: 10px;
  border: 1px solid #dddee1; }
.table-list tbody tr:hover td {
  background: #ebf7ff; }
.table-list.table-list-sm {
  border-collapse: collapse; }
  .table-list.table-list-sm td,
  .table-list.table-list-sm th {
    padding: 8px 10px;
    line-height: 10px;
    border-bottom: 1px solid #dddee1; }
  .table-list.table-list-sm .table-title {
    text-align: center;
    vertical-align: middle;
    font-size: 16px; }
.table-list.table-pai thead th,
.table-list.table-pai thead td {
  padding: 10px 10px;
  font-size: 16px; }
.table-list tbody th,
.table-list tbody td {
 vertical-align: middle; }
.table-list.table-pai tr:last-child td {
  border-bottom: none; }
.table-list.table-pai .st {
  display: inline-block;
  font-weight: bold;
  font-size: 22px;
  font-family: Arial;
  vertical-align: middle; }
.table-list th {
  background-color: #E9E9E9;
  font-size: 18px;   
  vertical-align: middle;
}
.table-no-wrap {
  table-layout: fixed; }
  .table-no-wrap td,
  .table-no-wrap th {
    white-space: nowrap; }

.table-foot {
  padding: 25px 0; }
  .table-foot .table-page-show {
    float: left; }
    .table-foot .table-page-show .select-box.select-box-ms:before {
      border-radius: 0 6px 6px 0; }
    .table-foot .table-page-show .form-input {
      width: 100px;
      border-radius: 6px; }
  .table-foot .table-page {
    float: right; }
    .table-foot .table-page a,
    .table-foot .table-page span {
      float: left;
      margin-left: 6px;
      padding: 0 6px;
      min-width: 32px;
      height: 32px;
      line-height: 32px;
      border-radius: 6px;
      text-align: center;
      border: 1px solid #dddee1;
      cursor: pointer;
      font-size: 12px;
      font-family: Arial; }
      .table-foot .table-page a:hover,
      .table-foot .table-page span:hover {
        color: #5ba5f0;
        border-color: #348eed; }
      .table-foot .table-page a.on,
      .table-foot .table-page span.on {
        color: #fff;
        background: #348eed;
        border-color: #348eed; }
      .table-foot .table-page a.disabled,
      .table-foot .table-page span.disabled {
        border: 1px solid #dddee1;
        color: #bbbbbb;
        opacity: .8;
        cursor: not-allowed; }

.ps {
  padding-right: 20px !important; }
  .ps .s,
  .ps .s-s,
  .ps .s-j {
    position: absolute;
    top: 50%;
    margin-left: 5px;
    margin-top: -7px;
    width: 12px;
    height: 15px;
    background: transparent url("../img/slot-icon.png") no-repeat;
    cursor: pointer; }
  .ps .s-s {
    background-position: -12px 0; }
  .ps .s-j {
    background-position: -24px 0; }

.table-edit tbody td {
  padding: 16px;
  border: 1px solid #dddee1;
  vertical-align: middle; }
  .table-edit tbody td.t-edit-title {
    text-align: right;
    line-height: 20px;
    width: 15%;
    background-color:#fcfcfc; 
    max-width: 200px; }
    .table-edit tbody td.t-edit-title.t-edit-title-t {
      vertical-align: middle; }

.ywt-nav {
  position: relative;
  padding: 0 25px;
  background: #3d9afa url(../img/nav-bg.png) repeat-y left top; }
  .ywt-nav .logo {
    float: left;
    margin-top: 14px;
    width: 231px;
    height: 52px;
    background: transparent url("../img/logo1.png") no-repeat; }
  .ywt-nav .ywt-nav-list {
    float: left;
    margin-left: 50px; }
    .ywt-nav .ywt-nav-list li {
      position: relative;
      float: left;
      margin: 0 5px; }
      .ywt-nav .ywt-nav-list li:after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 6px;
        background: transparent;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s; }
      .ywt-nav .ywt-nav-list li a {
        display: block;
        padding: 24px 20px;
        line-height: 32px;
        font-size: 18px;
        color: #c3cdf1;
        cursor: pointer;
        text-decoration: none !important; }
      .ywt-nav .ywt-nav-list li i {
        float: left;
        height: 32px;
        background: transparent url("../img/nav-icon.png") no-repeat; }
      .ywt-nav .ywt-nav-list li span {
        display: inline-block;
        margin-left: 6px; }
      .ywt-nav .ywt-nav-list li.on:after, .ywt-nav .ywt-nav-list li:hover:after {
        background: #57e2c1; }
      .ywt-nav .ywt-nav-list li.n1 i {
        width: 32px;
        background-position: 0 0; }
      .ywt-nav .ywt-nav-list li.n2 i {
        width: 36px;
        background-position: -32px 0; }
      .ywt-nav .ywt-nav-list li.n3 i {
        width: 32px;
        background-position: -68px 0; }
      .ywt-nav .ywt-nav-list li.n4 i {
        width: 32px;
        background-position: -100px 0; }
      .ywt-nav .ywt-nav-list li.n5 i {
        width: 36px;
        background-position: -132px 0; }
      .ywt-nav .ywt-nav-list li.n6 i {
        width: 39px;
        background-position: -168px 0; }
      .ywt-nav .ywt-nav-list li.n7 i {
        width: 32px;
        background-position: -207px 0; }
      .ywt-nav .ywt-nav-list li.n8 i {
        width: 32px;
        background-position: -239px 0; }
      .ywt-nav .ywt-nav-list li.n9:hover:after {
        background: transparent; }
      .ywt-nav .ywt-nav-list li.n9 i {
        width: 32px;
        background-position: -271px 0; }
  .ywt-nav .downMenu-box {
    position: absolute;
    right: 25px;
    top: 0; }
    .ywt-nav .downMenu-box .downMenu-head {
      display: block;
      position: relative;
      padding: 24px 20px;
      padding-right: 30px;
      line-height: 32px;
      font-size: 18px;
      color: #fff;
      text-decoration: none !important;
      cursor: pointer; }
      .ywt-nav .downMenu-box .downMenu-head i {
        position: absolute;
        right: 0;
        top: 50%;
        margin-top: -5px;
        width: 18px;
        height: 10px;
        background: transparent url("../img/nav-icon.png") no-repeat right top; }
    .ywt-nav .downMenu-box .downMenu-body {
      position: absolute;
      min-width: 100%;
      display: none;
      line-height: 32px;
      text-align: center;
      background: #eaedf1; }
    .ywt-nav .downMenu-box:hover .downMenu-body {
      display: block; }

.nav-path {
  padding: 10px 80px;
  border-bottom: 2px solid #eaedf1; }
  .nav-path .path-item {
    position: relative;
    float: left;
    padding: 0 15px;
    line-height: 20px;
    font-size: 16px; }
    .nav-path .path-item + .path-item:before {
      content: "";
      position: absolute;
      width: 10px;
      height: 18px;
      top: 50%;
      left: 0;
      margin-top: -9px;
      margin-left: -5px;
      background: transparent url("../img/allow.png") no-repeat; }
    .nav-path .path-item:last-child {
      font-weight: 600; }

@media (max-width: 1750px) {
  .ywt-nav .ywt-nav-list li a span {
    } }
.search-container {
  padding: 5px 25px;
  padding-bottom: 10px;
  border-bottom: 2px solid #eaedf1; }
  .search-container > .form-block {
    float: left; }
    .search-container > .form-block .form-input {
      width: 150px; }
  .search-container > .btn-box {
    margin-top: 20px;
    float: left; }

.content-box .content-head {
  padding: 15px 20px;
  line-height: 30px;
  border-bottom: 2px solid #eaedf1; }
  .content-box .content-head i {
    float: left;
    margin-top: 2px;
    width: 26px;
    height: 26px;
    background: transparent url("../img/title-icon.png") no-repeat; }
    .content-box .content-head i.c1 {
      margin-right: 8px;
      background-position: 0 0; }
  .content-box .content-head span {
    font-size: 18px; }

.tz {
  padding: 0 25px; }
  .tz .content-body {
    width: 100%;
    overflow-x: auto; }
    .tz .content-body .table-list {
      white-space: nowrap;
      min-width: 100%; }

.bb {
  border-bottom: 2px solid #eaedf1; }

.br {
  border-right: 2px solid #eaedf1; }

.bl {
  border-left: 2px solid #eaedf1; }

.section {
  padding: 25px; }
  .section .section-head {
    font-size: 24px;
    margin-bottom: 15px; }
    .section .section-head .after {
      float: right; }
      .section .section-head .after.more {
        width: 40px;
        height: 30px;
        background: url("../img/more.png") no-repeat center; }
      .section .section-head .after.date-box {
        margin-top: -8px; }
  .section .section-body {
    position: relative; }
  .section .chart-box {
    margin: 0 -10px;
    width: 100%; }
  .section .c-box {
    margin-top: 10px; }
    .section .c-box .c-head {
      font-size: 18px; }
    .section .c-box .c-body {
      margin-top: 12px;
      line-height: 24px;
      font-size: 12px; }
      .section .c-box .c-body p {
        margin-right: 10px;
        float: left; }
  .section .text-box {
    color: #888;
    line-height: 24px; }

.ywt-pro {
  margin: 0 -50px; }
  .ywt-pro > div {
    position: relative;
    float: left;
    margin-top: 70px;
    width: 33.33333%;
    text-align: center; }
    .ywt-pro > div:after, .ywt-pro > div:before {
      content: "";
      position: absolute;
      top: 24px;
      width: 50%;
      height: 2px;
      background: #1f86d2; }
    .ywt-pro > div:after {
      right: 0; }
    .ywt-pro > div:before {
      left: 0; }
    .ywt-pro > div.l:before, .ywt-pro > div.r:after {
      display: none; }
    .ywt-pro > div i {
      position: relative;
      display: inline-block;
      width: 58px;
      height: 58px;
      border-radius: 50%;
      border: 2px solid #1f86d2;
      background: #fff url("../img/pro-icon.png") no-repeat;
      z-index: 50; }
    .ywt-pro > div span {
      margin-top: 24px;
      display: block; }
    .ywt-pro > div.done i {
      background-color: #1f86d2;
      background-position: -54px 0; }

.zd-box {
  position: relative; }
  .zd-box .zd-box-left {
    width: 100%;
    padding-right: 400px; }
  .zd-box .zd-box-right {
    position: absolute;
    top: 0;
    right: 0;
    width: 400px; }

.pai-block .pai-head {
  padding: 10px 0;
  line-height: 30px;
  font-size: 20px;
  border-bottom: 2px solid #dddee1; }
.pai-block .pai-body .pai-icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  line-height: 24px;
  border-radius: 50%;
  background: #9fa7b2;
  text-align: center;
  color: #fff;
  font-size: 16px; }
  .pai-block .pai-body .pai-icon.p1 {
    background: #ed5454; }
  .pai-block .pai-body .pai-icon.p2 {
    background: #fd854f; }
  .pai-block .pai-body .pai-icon.p3 {
    background: #fdab46; }

.rc25 .ywt-rows {
  margin: 0 -25px; }
  .rc25 .ywt-rows .ywt-col {
    padding: 0 25px; }

.notice-list li {
  line-height: 30px; }

@media (min-width: 1600px) {
  .info .section .chart-box {
    width: 70%; }
  .info .section .c-box {
    position: absolute;
    right: 0;
    bottom: 0;
    margin-right: -20px;
    margin-top: 0; }
    .info .section .c-box .c-body p {
      margin-right: 10px;
      float: none; } }
.ywt-container .dropdown-menu {
  border-color: #dddee1;
  border-radius: 0; }
.ywt-container .caret {
  margin-left: 6px; }
.ywt-container .ywt-nav .dropdown-menu li {
  margin: 0;
  float: none; }
  .ywt-container .ywt-nav .dropdown-menu li a {
    width: 100%;
    line-height: 24px;
    padding: 10px 15px;
    color: #444444;
    font-size: 14px; }
  .ywt-container .ywt-nav .dropdown-menu li:after {
    display: none; }
.ywt-container .downMenu-box .dropdown-menu {
  left: auto;
  right: 0; }

html {
  width: 100%;
  background: #ffffff;
  min-width: 1360px; }

body {
  width: 100%;
  background: #ffffff;
  min-width: 1360px; 
  font-size: 14px;
  color: #444444;
  font-family: Cf; 
  overflow-x:hidden;
}


.ptb16 {
  padding-top: 16px;
  padding-bottom: 16px; }

.tc {
  text-align: center !important; }

.tl {
  text-align: left !important; }

.cr {
  text-align: right !important; }

/*# sourceMappingURL=all.css.map */
