@charset "utf-8";
/* CSS Document */
/*------------------------针对单元格样式-----------------------------*/
.td_padding_left{padding-left:5px;}
.td_padding_right{padding-right:5px;}
.td_align_right{text-align:right;}
.td_align_center{text-align:center;}
.td_bg_red{background-color:#F00;}
.td_bg_yellow{background-color:#FF0}
.td_bg_blue{background-color:#F00;}

/*------------------------针对字体样式-----------------------------*/
.strong{font-weight:bold;}
.let_space{ letter-spacing:2px;}

/*------------------------针对文本框，下拉类表框样式----------------------------*/
.show_text{height:20px;text-align:center;}
.input_text{height:20px;padding-left:5px;}
.input_select{height:20px;text-align:center;}
.input_text_width1{width:300px;}
.input_text_width2{width:20px;}
.input_text_width3{width:150px;}

/*------------------------针对文本域样式----------------------------*/
/*------------------------颜色----------------------------*/
.red{color:#F00;}
.blue{color:#00F;}
.yellow{color:#F93;}/*#FC0*/

.back_bg{background:#F0F7FB;}/*#DCEAF5*/