@charset "utf-8";
/* CSS Document */
*{ margin:0; padding:0;}
body{ background:#F4F4F4; color:#000; text-align:center; font-size:14px;}
table{ font-size:14px; color:#333333; text-align:left;}
textarea{ padding:4px; line-height:20px; color:#333333;}
.toptabler{ padding:20px 0; text-align:right; width:750px; margin:0 auto;}
.toptabler input{ background:#0099FF; color:#fff; border-top:solid 1px #fff; border-left:solid 1px #fff; border-bottom:solid 1px #666666; border-right:solid 1px #666; padding:2px 1px; font-weight:bold; cursor:pointer;}


#idTabs{ border-collapse:collapse; margin-bottom:6px; font-size:14px;}
#idTabs td{ border:solid 1px #ccc; background:#fcfcfc; line-height:20px;}
#idTabs td a{ color:#0066FF; letter-spacing:1px; text-decoration:none;}
#idTabs td a:hover{ color:#0000FF; text-decoration:underline;}

.table_title{ border-collapse:collapse;}
.table_title td{ border:solid 1px #cfcfcf; background:#fff; line-height:20px; padding:4px; color:#666;}
.table_title th{ border:solid 1px #A7A6AA; padding:4px; line-height:20px; font-size:14px; color:#777779; background:#EFEFEF;}
.table_title td table{ border-collapse:collapse;}
.table_title td table.bordernone td{ border:none;}

.warp_width{ border:solid 1px #ccc; text-align:left;}
.warp_width h3{ font-size:24px; letter-spacing:1px; font-family:'\5FAE\8F6F\96C5\9ED1'; letter-spacing:1px; color:#2E87CB; padding:24px 0; display:block; background:#FBFBFB; border: dashed 1px #47A0C6; margin-bottom:4px;}
.warp_width h4{ font-size:20px; color:#363636; margin:15px 0; font-family:'\5FAE\8F6F\96C5\9ED1'; letter-spacing:1px;}
.warp_width h5{ font-size:18px; letter-spacing:1px; font-family:'\5FAE\8F6F\96C5\9ED1'; letter-spacing:1px; color:#2E87CB; padding:18px; display:block; background:#FBFBFB; border: solid 1px #47A0C6; margin-bottom:4px;}
.warp_width h6{ font-size:20px; letter-spacing:1px; font-family:'\5FAE\8F6F\96C5\9ED1'; letter-spacing:1px; color:#2E87CB; padding:10px 0; display:block; background:#FBFBFB; border: dashed 1px #47A0C6; margin-bottom:4px;}


table.input_w input{ width:120px;}
table.input_w input.newi{ width:auto;}
.table_title td.td_title{ color:#0099FF; font-weight:bold; background:#f2f2f2; text-decoration:underline;}
td.tdbordernone{ padding:0; border:none;}
.both{ clear:both;}

.top-h1{ padding:25px 0; text-align:center;}
.top-h1 h1{ font-size:30px; color:#333333;}

.tdown_input{}
.tdown_input input{ background:url(images/inputbj.gif) no-repeat; height:44px; width:104px; border:none; color:#fff; font-weight:400; cursor:pointer; font-size:18px; margin:10px; font-family:'\9ED1\4F53'; letter-spacing:1px;}

